* {
  margin : 0 ; 
  padding : 0 ; 
  box-sizing : border-box ; 

}
body {background-color: #D7DBD6;}

.main-container {
    background: #000;
    height: 95vh;
    margin: 2.5vh auto;
    position: relative;
}

.green-div {
    height: 200px;
    background: #009688;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}


.user-personal {
    background: #EAEAEA;
    padding: 0.4rem;
    display: flex;
}