<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

 
    <div class="green-div"></div>

    
    <!-- div with id app for vue  -->
    <div id="app">

        <!-- main container which contains all the content -->
        <div class="container main-container">

            <!-- two rows of the web app left side and right side -->
            <div class="row h-100">

                <!-- CONTACTS FIELD  
                (This col contains (the user informations ) the contacts and their informations)
                -->
                <div class="col-4 flex-grow-1 flex-shrink-0 p-0 bg-light">

                    <!-- Personal information  -->
                    <div class="d-flex p-2 bg-personal align-items-center justify-content-between">
                        <div class="user-info">
                            <img src="../img/avatar_io.jpg" alt="">
                            <span class="fw-500">Sofia</span>
                        </div>
                        <div class="user-buttons px-2 d-flex gap-4">
                            <i class="fa-solid fa-lg fa-rotate-left"></i>
                            <i class="fa-solid fa-lg fa-message"></i>
                            <i class="fa-solid fa-lg fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                     <!-- Notifies div -->
                    <div class="d-flex p-2 bg-notify align-items-center justify-content-between">
                        <div class="user-notify py-2 px-3 d-flex gap-2">
                            <i class="fa-solid fa-lg fa-bell-slash"></i>
                            <div>
                                <div>Ricevi notifiche di nuovi messaggi</div>
                                <div><a href="#" class="text-secondary">Attiva notifiche desktop</a></div>
                            </div>

                           
                        </div>
                    </div>

                    <!-- Search user -->
                    <div class="d-flex py-2 px-3 align-items-center gap-2">
                        <i class="fa-solid text-secondary fa-magnifying-glass"></i>
                        <input type="text" name="" id="" class="w-100 border-0" placeholder="Cerca o inizia una nuova chat" v-model="searchingUser">
                    </div>

                    <!-- Singler user that will be repeated with a V-FOR -->
                    <div class="d-flex p-2 bg-light align-items-center justify-content-between border-bottom" v-for="(contatto,i) in contatti">
                        <div class="user-info d-flex">
                            <img :src="`../img/avatar${contatto.avatar}.jpg`" :alt="`Immagine profilo di ${contatto.name}`">
                            <div class="align-self-center px-2">
                                <span class="fw-500">{{contatto.name}}</span>
                                <div class="text-secondary last-message">Ultimo messaggio inviato</div>
                            </div>
                        </div>
                        <div class="user-buttons px-2 d-flex gap-4 align-self-start last-message">
                            12:00
                        </div>
                    </div>
                    
                   
                 
                    
                   
                    
                </div>
                 <!-- end of contact field -->



                <!-- CHAT FIELD  
                (This col contains (the relative user chat ) the contacts and a field to write messages)
                -->

                <div class="col-8 flex-grow-1 flex-shrink-0 bg-success p-0 chat-field position-relative">
                    <div class="d-flex p-2 bg-personal align-items-center justify-content-between">
                        <div class="user-info d-flex">
                            <img src="../img/avatar_1.jpg" alt="">
                            <div class="align-self-center px-2">
                                <span class="fw-500">Michele</span>
                                <div class="text-secondary last-message">Ultimo accesso oggi alle 12:00</div>
                            </div>
                        </div>
                        <div class="user-buttons px-2 d-flex gap-4">
                                <i class="fa-solid fa-lg fa-magnifying-glass"></i>
                                <i class="fa-solid fa-lg fa-paperclip"></i>
                                <i class="fa-solid fa-lg fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    
                    <div class="message-field p-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 text-right">
                                    <div class="message sent d-inline-block">
                                        messaggio
                                    </div>
                                </div>
                                <div class="col-12 text-right">
                                    <div class="message sent d-inline-block">
                                        messaggio
                                    </div>
                                </div>
                                <div class="col-12 text-left">
                                    <div class="message received d-inline-block">
                                        messaggio
                                    </div>
                                </div>

                               
                              
                            </div>
                        </div>

                       
                    </div>

                    <div class="write-message bg-personal d-flex py-4 px-4 gap-4 align-items-center">
                        <div class="emoji">
                            <i class="fa-regular fa-lg fa-face-smile"></i>
                        </div>
                        <div class="flex-grow-1 ">
                            <input type="text" name="" id="" class="w-100 border-0 p-2" placeholder="Scrivi un messaggio" v-model="newMessage">
                        </div>
                        <div class="emoji">
                            <i class="fa-solid fa-2x fa-microphone"></i>
                        </div>

                    </div>
                </div>
                 <!-- end of chat field -->

            </div>
            <!-- end of two rows -->

        </div>
        <!-- end of container rows -->

    </div>
    <!-- end of vue id app -->


    <script src="main.js"></script>
</body>
</html>